@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Template Name : Octagon

  File Structure :
    1.  Color Variable
    2.  Basic Classes
    3.  Left Sidebar
            3.1. Logo
            3.2. Left side Menu
            3.3. Latest Post
            3.4. Top Rated
            3.5. Follow Post
    4.  Right Side
            4.1. Top Bar
            4.2. Category Nav / Mega Menu
            4.3. Main Slider
            4.4. Main Body Post
            4.5. Twitter Post
            4.6. Load More
    5.  SideBar
            5.1. Sidebar Tab
            5.2. Sidebar About
            5.3. sidebar Slider
            5.4. sidebar Archive
            5.5. sidebar Ads
            5.6. sidebar Subscribe
    6.  Trending Post
    7.  Bottom
    8.  Footer
    9.  Pages

*/

/************************
    Color Variable
************************/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #434343;
  background: #2a2f33;
  text-transform: uppercase;
}

/************************
  1. Basic Classes
************************/
a {
  background: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -webkit-transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
}
a:active,
a:hover,
a:focus,
.btn:active:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}
a:focus,
a:active,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: 0;
  outline: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
iframe {
  border: none;
}
hr {
  border-width: 2px 0 0;
  margin: 30px 0;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
dl dt {
  font-weight: bold;
}
dd {
  margin-left: 1.0786666666666667em;
  font-weight: normal;
}
#wrapper {
  clear: both;
  overflow-x: hidden;
  background: #ffffff;
}
iframe {
  overflow:hidden;
  border: 0;
}
.twitter-post.margin-left-zero { margin-left: 0; }
.post-bottom-content.pbc-margin-left-zero { margin-left: 0; }
.post-bottom-content.pbc-margin-right-zero { margin-right: 0; }
.post-right-content.prc-margin-left-zero { margin-left: 0; }
.post-right-content.prc-margin-right-zero { margin-right: 0; float: right; }
.post-only-content.poc-right-fix { width: 96%;float: right; margin-right: 0;}
.post-only-content.poc-left-fix { width: 96%;float: left; margin-left: 0;}
/*img {
  width: 100%;
}*/
/*ul {
  margin-top: 0px!important;
  padding: 0px !important;
}*/
/*li {
  list-style: none;
}*/
.accordion .panel-body img.align-left {float: left;padding: 20px 20px 10px 0;}
.no-radius {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#container-full {
  overflow: hidden;
}
.no-padding {padding: 0px;}
.no-margin {margin: 0px;}
.padding-left-zero {padding-left: 0;}
.padding-right-zero {padding-right: 0;}

/*   Background Color
----------------------*/
.travel-bg {background: #8aba56;}
.travel-color {color: #8aba56;}
.travel-color:hover,
.travel-color:focus {color: #8aba56;}
.sports-bg {background: #19b6e9;}
.sports-color {color: #19b6e9;}
.sports-color:hover,
.sports-color:focus {color: #19b6e9;}
.design-bg {background: #5b4282;}
.design-color {color: #5b4282;}
.design-color:hover,
.design-color:focus {color: #5b4282;}
.music-bg {background: #ff8932;}
.music-color {color: #ff8932;}
.music-color:hover,
.music-color:focus {color: #ff8932;}
.mobile-bg {background: #f1c40f;}
.mobile-color {color: #f1c40f;}
.mobile-color:hover,
.mobile-color:focus {color: #f1c40f;}
.code-bg {background: #046dd5;}
.code-color {color: #046dd5;}
.code-color:hover,
.code-color:focus {color: #046dd5;}
.lifestyle-bg {background: #e1493e;}
.lifestyle-color {color: #e1493e;}
.lifestyle-color:hover,
.lifestyle-color:focus {color: #e1493e;}
.health-bg {background: #e84c8b;}
.health-color {color: #e84c8b;}
.health-color:hover,
.health-color:focus {color: #e84c8b;}
.tweets-bg {background: #f4655f;}
.tweets-color {color: #f4655f;}
.tweets-color:hover,
.tweets-color:focus {color: #f4655f;}
.black-bg {background: #2a2f33;}

/*   Single page tag Color
--------------------------*/
.tag-music li a {color: #222222;}
.tag-music li a:hover,
.tag-music li a:focus,
.tag-music li a.active {color: #f4655f;}
.tag-travel li a {color: #222222;}
.tag-travel li a:hover,
.tag-travel li a:focus,
.tag-travel li a.active {color: #8aba56;}
.tag-code li a {color: #222222;}
.tag-code li a:hover,
.tag-code li a:focus,
.tag-code li a.active {color: #046dd5;}
.tag-health li a {color: #222222;}
.tag-health li a:hover,
.tag-health li a:focus,
.tag-health li a.active {color: #e84c8b;}
.tag-mobile li a {color: #222222;}
.tag-mobile li a:hover,
.tag-mobile li a:focus,
.tag-mobile li a.active {color: #f1c40f;}

/************************
  3. Left Sidebar
************************/
/* 3.1  Logo */
.logo {
  background: #046DD5;
  text-align: center;
}
.logo img {
  width: inherit !important;
  padding: 55px 0px;
}

/* 3.2 Left side Menu */
.toogle-sidebar-sections {
  float: left;
  width: 100%;
}
.rotate {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordion-toggle {
  background: #32373b;
  font-size: 15px;
  position: relative;
  display: block;
  padding: 15px 30px;
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 1px;
}
.accordion-toggle:hover,
.accordion-toggle:focus,
.accordion-toggle:active {
  background: #32373b;
  color: #fff;
}
.accordion-toggle span.toggle-icon {
  position: absolute;
  top: 12px;
  right: 30px;
  font-size: 18px;
}
.menu-body {
  margin-bottom: 50px;
  margin-top: 30px;
}
.menu-body ul {
  padding: 0;
  margin: 0;
}
.menu-body ul li {
  list-style: none;
  border-bottom: 1px solid rgba(255,255,255,0.03);;
  text-align: left;
}
.menu-body ul li a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-transform: uppercase;
  padding: 20px 30px;
  display: inline-block;
  width: 100%;
}
.menu-body .drop-menu {
  display: none;
}
.menu-body .drop-menu li {
  background: #32373b;
  border: 0px;
}
.menu-body .drop-menu li a {
  width: 100%;
  padding: 15px 30px;
  background: #32373b;
  border-color: #32373b;
  border-style: solid;
  border-width: 1px 0;
}
.menu-body .drop-menu li a:hover,
.menu-body .drop-menu li a:focus,
.menu-body .drop-menu li a.active {
  background: rgba(255, 255, 255, 0.06);
  border-color: rgba(255, 255, 255, 0.06);
  border-style: solid;
  border-width: 1px 0;
}


/* 3.3 Latest Post */
.latest-post-body {
  padding: 10px 20px;
}
.latest-post-body .post {
  margin: 40px 0px;
  background: #32373b;
  padding-bottom: 20px;
  color: #ffffff;
}
.latest-post-body .post .post-img {
  position: relative;
}
.latest-post-body .post .post-img .post-icon {
  background: #32373b;
  padding: 10px 15px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size: 16px;
  cursor: pointer;
}
.latest-post-body .post .post-img .post-icon:hover .post-category {
  display: block;
}
.latest-post-body .post .post-img .post-icon span {
  padding: 0px 10px;
  color: #ffffff;
}
.latest-post-body .post .post-img .bg-blue {
  background: #046DD5;
}
.latest-post-body .post h3 {
  font-size: 13px;
  line-height: 20px;
  padding: 0 15px;
}
.latest-post-body .post h3 a {color: #fff;}
.latest-post-body .post span {
  color: #ccc;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.9px;
  padding: 15px;
}
.latest-post-body .post .post-category {
  bottom: 0;
  display: none;
  font-size: 12px;
  font-weight: normal;
  left: 0px;
  position: absolute;
  width: 125px;
  color: #fff;
}
.latest-post-body .post .post-category i {
  padding: 14px 15px;
  font-size: 16px;
}

/* 3.4 Top Rated */
.top-rated-body {
  padding: 30px 20px 50px;
  color: #ffffff;
  float: left;
  width: 100%;
}
.top-rated-item {
  float: left;
  width: 100%;
  color: #fff;
  padding: 15px 0px;
}
.top-rated-item:hover,
.top-rated-item:focus {color: #fff;}
.top-rated-body .progress {
  margin: 0px;
  height: 4px;
  background: none;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.top-rated-body .top-rated-heading {
  font-weight: normal;
  font-size: 13px;
  padding-top: 10px;
  display: inline-block;
}
.top-rated-body .top-rated-count {
  float: right;
  position: relative;
  top: -4px;
}
.javascript .progress-bar {background: #046DD5;}
.iphone .progress-bar {background: #FFA431;}
.top-hills .progress-bar {background: #80BD01;}
.wordpress .progress-bar {background: #DD1B16;}
.ebola-virus .progress-bar {background: #3F3E57;}
.progress-score {
  border: 1px solid #777;
  padding: 3px 10px;
  text-align: center;
  line-height: 24px;
}
.progress-score span {font-size: 11px;}
.progress-score i {padding: 0px 5px 0px 0px;}

/* 3.5 Follow Post */
.follow-body {
  padding: 30px 20px;
  color: #ffffff;
}
.follow-body li {list-style: none;}
.connect-with-us {
  cursor: pointer;
  padding: 15px 10px;
  position: relative;
  margin: 10px 0px;
  color: #ffffff;
  text-align: center;
  display: block;
}
.connect-with-us:hover,
.connect-with-us:focus {color: #fff;}
.connect-with-us span {
  font-size: 11px;
  margin-right: 30px;
  text-align: center;
  display: block;
}
.connect-with-us i {
  float: left;
  font-size: 16px;
  padding: 0 3px;
}
.connect-with-us .plus i {padding: 3px;}
.connect-with-us .plus {
  background: rgba(0, 0, 0, 0.1);
  float: right;
  padding: 9px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.facebook {background: #4D6BAB;}
.facebook:hover,
.facebook:focus,
.facebook:active {background: #3d5588;}
.twitter {background: #4EC6F8;}
.twitter:hover,
.twitter:focus,
.twitter:active {background: #1db6f6;}
.google-plus {background: #EA6060;}
.google-plus:hover,
.google-plus:focus,
.google-plus:active {background: #e43333;}
.linkedin {background: #248CC9;}
.linkedin:hover,
.linkedin:focus,
.linkedin:active {background: #3d5588;}
.youtube {background: #BB0000;}
.youtube:hover,
.youtube:focus,
.youtube:active {background: #880000;}
.instagram {background: #517FA4;}
.instagram:hover,
.instagram:focus,
.instagram:active {background: #406582;}
.rss {background: #808080;}
.rss:hover,
.rss:focus,
.rss:active {background: #676767;}

/* =====================
    4.   Right-side
======================== */

/* 4.1 Top Bar */
.top-bar {
  background: #edeff0;
  float: left;
  width: 100%;
}
.search {display: inline-block;}
.search i {
  border-right: 1px solid #e1e0e5;
  color: #222222;
  font-size: 36px;
  padding: 15px 18px;
  cursor: pointer;
  display: inline-block;
}
.search i:hover,
.search i:focus,
.search i.active {background: #ffffff;}
.search p {
  bottom: 10px;
  color: #222222;
  display: inline;
  font-size: 14px;
  font-weight: 400;
  left: 20px;
  position: relative;
  text-transform: uppercase;
}
.login-account {padding: 0 80px;}
.login-account .forgot-pass {
  font-family: "Open Sans", sans-serif;
  padding-top: 15px;
  font-weight: 400;
  text-transform: capitalize;
}
.login-account a {color: #F4655F;}
.search-body,
.user-body,
.mail-body {
  background: #ffffff;
  padding: 60px 170px;
  top: 0;
  width: 100%;
  z-index: 2;
  display: none;
  height: 100%;
  position: relative;
}
.user-body .form-control,
.search-body .form-control {height: 50px;}
.search-body p,
.user-body p,
.mail-body p {
  margin: 0px;
  padding-bottom: 40px;
  color: #222222;
  font-size: 18px;
}
.search-body h4,
.user-body h4,
.mail-body h4 {
  font-size: 14px;
  color: #222222;
}
.mail-body h4 {font-size: 16px;}
.mail-follow-us h4 {
  margin-left: 15px;
  font-size: 16px;
}
.login-account p {
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
}
.login-account button {
  background: #2a2f33;
  border: 0 none;
  color: #ffffff;
  padding: 15px 20px;
  margin: 0;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.login-account button:hover,
.login-account button:focus,
.login-account button:active {
  background: #2a2f33;
  color: #ffffff;
  z-index: 0 !important;
}
.login-mail i {
  border-left: 1px solid #e1e0e5;
  color: #222222;
  font-size: 36px;
  padding: 15px 18px;
  cursor: pointer;
  display: inline-block;
}
.login-mail i:hover,
.login-mail i:focus,
.login-mail i.active {background: #ffffff;}
.login-user i {
  border-left: 1px solid #e1e0e5;
  color: #222222;
  font-size: 36px;
  padding: 15px 18px;
  cursor: pointer;
  display: inline-block;
}
.login-user i:hover,
.login-user i:focus,
.login-user i.active {background: #ffffff;}
.mail-contact {padding-right: 100px;}
.mail-contact p {
  margin-left: 15px;
  padding: 5px 0px;
  color: #808080;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 13px;
}
.mail-contact p strong {
  color: #222222;
  font-size: 13px;
}
.mail-follow-us {padding-left: 100px;}
.mail-follow-us li {
  width: 50%;
  display: inline-block;
  padding: 0px 40px 0 15px;
  float: left;
}
.dashed-divider {
  border: 1px dashed #e7e7e7;
  height: 70%;
  left: 50%;
  position: absolute;
}
.dashed-divider-2 {
  border: 1px dashed #e7e7e7;
  height: 150px;
  left: 50%;
  position: absolute;
}
.register {
  border: 1px solid #e1e0e5;
  margin: 20px 80px 0;
  padding: 30px;
}
.register .btn-default {
  background: #f4655f;
  border-bottom: 0 none;
  border-image: none;
  border-left: 0 none;
  border-top: 0 none;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 0;
  text-transform: uppercase;
  width: 100%;

  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.register .btn-default:hover,
.register .btn-default:focus,
.register .btn-default:active {background: #f24e47;}
.register p {
  padding-bottom: 30px;
  font-size: 16px;
}
.form-group {margin-bottom: 20px;}

/* 4.2 Category Nav / Mega Menu */
.category-nav {float: left;width: 100%;}
.category-nav .mega-menu {
  position: relative;
  display: block;
  z-index: 1000;
}
.category-nav .mega-menu ul {
  margin: 0;
  padding: 0;
}
.category-nav .mega-menu ul li {
  background: #ffffff;
  display: inline-block;
  float: left;
  text-align: center;
  width: 12.5%;
  position: static;
}
.category-nav .mega-menu ul li a {
  position: relative;
  display: block;
  padding: 25px 0px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #222222;
  font-weight: normal;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.category-nav .mega-menu ul li > a {
  border-right: 1px solid #EAEAEA;
}
.category-nav .mega-menu ul li a:hover,
.category-nav .mega-menu ul li a:focus,
.category-nav .mega-menu ul li a:active {
  background: #2a2f33;
  color: #ffffff;
}
.category-nav .mega-menu ul li:hover .menu-wrapper,
.category-nav .mega-menu ul li:focus .menu-wrapper {
  visibility: visible;
  opacity: 1;
  filter: alpha(opacity=100);
  display: block;
}
.category-nav .mega-menu ul li:last-child {border-right: 0px;}
.menu-wrapper {
  text-align: left;
  position: absolute;
  visibility: hidden;
  display: none;
  z-index: 1;
  height: auto;
  left: 0px;
  top: 73px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #2a2f33;
  border: 0px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.mega-menu-li .nav {
  width: 100%;
  text-align: left;
  border: 0px;
  padding: 20px 0;
}
.mega-menu-li .nav .list a {
  margin: 0px;
  border-width: 1px 0;
  border-style: solid;
  border-color: #32373b;
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  background: #32373b;
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  width: 100%;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.mega-menu-li .nav .list a:hover,
.mega-menu-li .nav .list a:focus,
.mega-menu-li .nav .list a.active {
  background: rgba(255, 255, 255, 0.06);
  border-width: 1px 0;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.06);
}
.mega-menu-li .submenu-lists {
  background: #32373b;
  padding-bottom: 0;
}
.mega-menu-li .submenu-lists h4 {
  margin: 0px;
  padding: 15px 30px;
  background: #2CA9E1;
  font-size: 15px;
  color: #ffffff;
  position: relative;
}
.mega-menu-li .submenu-lists h4 i {
  font-size: 20px;
  position: absolute;
  right: 20px;
}
.mega-menu-li .tab-content {
  padding-right: 25px;
}
.tab-content img,.accordion img {float: none; }
.menu-post {
  padding: 30px 0 10px 30px;
  float: left;
  width: 100%;
}
.menu-post .post h3 {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin: 0px;
}
.menu-post .post h3 a {
  padding: 20px 0 !important;
  color: #ffffff !important;
  float: left;
  width: 100%;
}
.life-style {border-top: 4px solid #e1493e;}
.travel {border-top: 4px solid #8aba56;}
.coding {border-top: 4px solid #046dd5;}
.music {border-top: 4px solid #ff8932;}
.sports {border-top: 4px solid #19b6e9;}
.design {border-top: 4px solid #5b4282;}
.mobile {border-top: 4px solid #f1c40f;}
.health {border-top: 4px solid #e84c8b;}

/* ==============================================
 Main Content
=============================================== */
.main-content {
  background: #edeff0;
  padding: 80px 85px;
  float: left;
  width: 100%;
}
.bg-box-shadow {
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06);
}
.common-border {border: 1px solid #E2E2E2;}
.ul-clearfix {padding: 0;margin: 0;}
.ul-clearfix li {list-style: none;}
.space-fix {width: 100%;float: left;}

/* 4.3 Main Slider */
#slider .carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 30px;
  padding-bottom: 40px;
  right: 0;
  text-align: left;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 40%, rgba(255, 255, 255, 0.02) 60%);
}
#slider .carousel-caption span {
  background: #5B4282;
  padding: 10px 20px;
  font-weight: 400;
}
#slider .carousel-caption h3 {font-size: 24px;}
.owl-pagination {
  margin-top: -60px;
  position: absolute;
  right: 100px;
}
.owl-theme .owl-controls .owl-page span {
  background: #ffffff;
  display: block;
  height: 15px;
  margin: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 15px;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.owl-theme .owl-controls .owl-page.active span {
  background-color: #5B4282;
  display: block;
  height: 15px;
  margin: 5px;
  opacity: 1;
  filter: alpha(opacity=100);
  width: 15px;
  border: 3px solid #ffffff;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.slider-side-post .post {
  position: relative;
  z-index: 10;
}
.slider-side-post .post-info {
  color: #ffffff;
  bottom: 0;
  padding: 0 30px 20px 30px;
  position: absolute;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.25) 40%, rgba(255, 255, 255, 0.02) 60%);
  width: 100%;
}
.slider-side-post .post-info h3 {
  font-size: 15px;
  line-height: 23px;
}
.slider-side-post .post-info span {
  padding: 5px;
  font-weight: 400;
}

/* ==============================================
 4.4  Main Body Post
=============================================== */
.main-post-body {
  margin-left: -13px;
  margin-right: -13px;
  margin-top: 80px;
}
.latest-post .padding-normal {padding: 0 30px 0 0;}
.main-content .single-post > .post-bottom-content {margin-top: 0;margin-right: 0;margin-left: 0;}
.latest-post .post-bottom-content {margin-bottom: 0;}
.post-bottom-content {
  position: relative;
  background: #ffffff;
  margin-bottom: 60px;
  margin-left: 13px;
  margin-right: 13px;
  padding-bottom: 60px;
  min-height: 465px;
}
.post-bottom-content:hover {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}
.post-bottom-content h3 {
  color: #222222;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin: 0;
  padding: 30px;
  position: relative;
  text-align: left;
}
.post-bottom-content h3 span {
  color: #ffffff;
  padding: 10px;
  position: absolute;
  right: -10px;
  top: 20px;
}
.post-bottom-content h3 span a {
  bottom: 0;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 120px;
  text-align: center;
  display: none;
  font-weight: normal;
}
.post-bottom-content h3 span:hover a {
  display: block;
  background: inherit;
}
.post-bottom-content h3 span:after {
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.5);
  bottom: -7px;
  content: "";
  position: absolute;
}
.post-bottom-content .date {
  padding-left: 30px;
  font-size: 12px;
  display: inline-block;
  padding-bottom: 35px;
}
.post-meta {
  border-top: 1px solid #e9e9e9;
  bottom: 0;
  position: absolute;
  width: 100%;
}
.post-meta .share-icon {display: inline-block;}
.post-meta .share-icon i {
  border-right: 1px solid #e9e9e9;
  font-size: 16px;
  padding: 20px 15px;
  cursor: pointer;
}
.post-meta .share-icon span {
  opacity: 0;
  filter: alpha(opacity=0);
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  color: #222222;
  position: relative;
  left: 15px;

  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
.post-meta .share-icon:hover {
  -webkit-transition: all 0.9s;
  -o-transition: all 0.9s;
  transition: all 0.9s;
}
.post-meta .share-icon:hover span {
  display: inline-block;
  font-style: italic;
  opacity: 1;
  filter: alpha(opacity=100);
}
.post-meta .share-icon:hover i {color: #222222;}
.post-meta .category-icon span {
  padding-right: 10px;
  font-weight: 400;
  font-size: 12px;
}
.post-meta .category-icon,
.post-meta .share-icon {color: #777;}
.post-meta .category-icon i {
  border-left: 1px solid #e9e9e9;
  font-size: 16px;
  padding: 20px 15px;
}
.post-meta .date {
  padding: 0px 10px;
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
}
.post-right-content {
  position: relative;
  background: #ffffff;
  margin-bottom: 60px;
  margin-left: 13px;
  margin-right: 13px;
  float: left;
  width: 100%;
  text-align: left;
}
.post-right-content:hover {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}
.post-right-content h3 {
  color: #222222;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin: 0;
  padding: 30px;
  position: relative;
}
.post-right-content h3 span {
  color: #ffffff;
  padding: 10px;
  position: absolute;
  right: -10px;
  top: 20px;

  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.post-right-content h3 span a {
  bottom: 0;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 120px;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
}
.post-right-content h3 span:hover a {
  opacity: 1;
  filter: alpha(opacity=100);
  background: inherit;
}
.post-right-content h3 span:after {
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.6);
  bottom: -6px;
  content: "";
  position: absolute;
}
.post-right-content .date {
  padding-left: 30px;
  font-size: 12px;
  display: inline-block;
  padding-bottom: 35px;
}
.post-right-content .category-icon span {
  padding-right: 10px;
  font-weight: 400;
}
.post-right-content .media-body {
  position: relative;
  width: 58%;
  float: right;
  min-height: 250px;
}
.oct-elements .post-right-content .media-body {min-height: 230px;}
.oct-elements .post-only-content {min-height: 230px;}
.post-right-content .media-left {
  width: 42%;
  float: left;
}
.post-only-content {
  background: #ffffff;
  margin-bottom: 60px;
  margin-left: 13px;
  margin-right: 13px;
  min-height: 250px;
  padding: 0;
  position: relative;

  width: 100%;
  float: none;
  display: inline-block;
  text-align: left;
}
.post-only-content:hover {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);
}
.post-only-content h3 {
  color: #222222;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding: 30px;
  position: relative;
}
.post-only-content h3 span {
  color: #ffffff;
  padding: 10px;
  position: absolute;
  right: -10px;
  top: 20px;

  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.post-only-content h3 span a {
  bottom: 0;
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
  position: absolute;
  right: 0;
  width: 120px;
  text-align: center;
  opacity: 0;
  filter: alpha(opacity=0);
}
.post-only-content h3 span:hover a {
  opacity: 1;
  filter: alpha(opacity=100);
  background: inherit;
}
.post-only-content h3 span:after {
  border-right: 10px solid transparent;
  border-top: 7px solid rgba(0, 0, 0, 0.6);
  bottom: -6px;
  content: "";
  position: absolute;
}
.post-only-content .date {
  padding-left: 30px;
  font-size: 12px;
  display: inline-block;
  padding-bottom: 35px;
}
.single-post-content {
  padding: 40px;
  text-align: center;
}
.single-post-content p {
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
}
.single-post-content i {margin-left: 5px;}
.media,
.media-body {overflow: visible;}

/* 4.5 Twitter Post */
.twitter-post {
  background: #f4655f;
  padding: 20px;
  color: #ffffff;
  margin: 25px 10px;
  position: relative;
  min-height: auto;
}
.twitter-post ul {padding: 0;}
.twitter-post ul li {list-style: none;}
.twitter-post h4 {
  margin: 0px;
  font-weight: 400;
  font-size: 16px;
}
.twitter-post p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 700;
  text-transform: none;
}
.twitter-post p a {color: #ffffff;}
.twitter-post:before {
  border-right: 17px solid transparent;
  border-top: 10px solid #f4655f;
  bottom: -10px;
  content: "";
  position: absolute;
}
.twitter-post .carousel-indicators {top: -20px;left: 85%;}
.twitter-post .carousel-inner > .item {padding: 30px 0 0 0;}
.twitter-post .carousel-indicators li {
  width: 7px;
  height: 7px;
  background: #fff;
}
.twitter-post .carousel-indicators li.active {width: 10px;height: 10px;}

/* 4.6 Load More */
.load-more {
  margin-top: 40px;
  float: left;
  width: 100%;
}
.load-more-btn {line-height: 50px;}
.load-more .morebtn {
  background: #2a2f33;
  color: #ffffff;
}
.load-more .morebtn i {margin-right: 0px;}
.load-more .morebtn a {
  color: #ffffff;
  display: block;
  padding: 5px 0;
}
.plus {padding-right: 15px;}

/* ==============================================
  5. Sidebar
=============================================== */

/* 5.1  Sidebar Tab */
.sidebar {margin-left: 35px;}
.sidebar-widget {
  margin-top: 50px;
  float: left;
  width: 100%;
  border: 1px solid #E2E2E2;

  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.06);
}
.sidebar .sidebar-widget:first-child {margin-top: 0;}
.sidebar-tab {background: #ffffff;}
.sidebar-tab li {list-style: none;}
.sidebar-tab h3 {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  color: #222222;
}
.sidebar-tab span {
  font-size: 11px;
  font-weight: 400;
  border-right: 2px solid;
  padding-right: 7px;
}
.sidebar-tab p {
  display: inline-block;
  margin-left: 5px;
  padding: 0px;
  font-size: 11px;
  font-weight: 400;
}
.sidebar-tab .nav-tabs li {
  background: #ffffff;
  width: 33.3%;
  text-align: center;
}
.sidebar-tab .nav-tabs li a {
  border: 0px;
  border-right: 2px solid #e8e8e8;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.42857;
  margin-right: -1px;
  padding: 15px 0px;
  color: #222222;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.sidebar-tab .nav-tabs li a:hover,
.sidebar-tab .nav-tabs li a:focus,
.sidebar-tab .nav-tabs li a:active {
  background: #ffffff;
  color: #000;
  border-right: 2px solid #e8e8e8;
  border-left: 0px;
  border-top: 0px;
}
.sidebar-tab .nav-tabs li:first-child {border-left: 0px;}
.sidebar-tab .nav-tabs li:last-child a {
  border-right: 0px;
  margin: 0 -1px 0 0;
}
.sidebar-tab .nav-tabs li:last-child a:hover,
.sidebar-tab .nav-tabs li:last-child a:focus,
.sidebar-tab .nav-tabs li:last-child a:active {border-right: 0px;}
.sidebar-tab .media-right img {
  min-width: 60px;
  min-height: 60px;
}
.sidebar-tab .nav-tabs > li.active > a,
.sidebar-tab .nav-tabs > li.active > a:hover,
.sidebar-tab .nav-tabs > li.active > a:focus {
  background: #ffffff;
  color: #000;
}
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {border-width: 0px 2px 0 0;}
.sidebar-tab .nav-tabs > li.active:after {
  content: '';
  background: #2CA9E1;
  height: 4px;
  display: block;
  width: 100%;
  position: relative;
  bottom: 0;
}
.sidebar-tab .tab-content {
  padding: 20px;
  text-align: left;
}
.sidebar-tab .tab-content ul {padding: 0;}
.sidebar-tab .tab-content li {
  border-bottom: 1px solid #EAEAEA;
  margin: 10px 0;
  padding-bottom: 10px;
}
.sidebar-tab .tab-content li:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}

/* 5.2 Sidebar About */
.sidebar-about {
  background: #ffffff;
  padding: 25px;
  text-align: left;
}
.sidebar-about h3 {
  border-bottom: 2px solid #f4655f;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: 0;
  float: left;
  width: auto;
  color: #2b2b2b;
}
.sidebar-about .about-image {
  float: left;
  width: 100%;
}
.sidebar-about p {
  font-size: 12px;
  padding-top: 30px;
  font-weight: 500;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  float: left;
  width: 100%;
}

/* 5.3 sidebar Slider */
.sidebar-slider {
  background: #ffffff;
  padding: 20px;
}
.sidebar-slider .carousel {position: relative;}
.sidebar-slider .slider-controls {
  bottom: 40px;
  right: 40px;
  position: absolute;
  width: 50px;
}
.sidebar-slider .slider-controls .left i {
  background: #686868;
  color: #ffffff;
  margin: 0 10px;
  padding: 5px 10px;
}
.sidebar-slider .slider-controls .right i {
  background: #686868;
  color: #ffffff;
  margin: 0 10px;
  padding: 5px 10px;
}

/* 5.4 sidebar Archive */
.sidebar-archive {
  background: #ffffff;
  padding: 30px;
}
.sidebar-archive h3 {
  border-bottom: 2px solid #FFA431;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 10px;
  margin: 0px 0 30px;
  float: left;
}
.custom-select {
  padding: 0px 0 20px;
  position: relative;
  font-family: "Open Sans", sans-serif;
  float: left;
  width: 100%;
}
.custom-select select {font-weight: 400;}
.custom-select select option {padding: 0 15px;}

/* 5.5 sidebar Ads */
.sidebar-ads {
  background: #ffffff;
  padding: 20px;
}

/* 5.6 sidebar Subscribe */
.sidebar-subscribe {
  background: #ffffff;
  padding: 25px;
}
.sidebar-subscribe i {
  font-size: 70px;
  color: #F4655F;
}
.sidebar-subscribe h3 {
  color: #222222;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  text-align: center;
  line-height: 20px;
  margin: 0 0 20px;
}
.sidebar-subscribe .form-control {font-weight: 400;}
.subscribe-btn {
  margin: 15px 0;
  text-align: right;
  float: left;
  width: 100%;
}
.subscribe-btn a {
  background: #2a2f33;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 20px;
  float: right;
}

/* ==============================================
  6 Bottom
=============================================== */

/*  Trending Post */
.bottom-trending-post h2 {
  background: #ffffff;
  padding: 25px 0px;
  color: #222222;
  font-size: 16px;
  margin: 0px;
  float: left;
  width: 100%;
  font-weight: normal;
}
.trend-post {
  background: #ffffff;
  width: 100%;
  float: left;
}
.trend-post .post {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 100%;
}
.trend-post .post img {position: relative;}
.trend-post .post .overlay {
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  bottom: 0;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.trend-post .post h3 {
  bottom: 0;
  margin: 0px;
  font-size: 16px;
  line-height: 20px;
  opacity: 1;
  filter: alpha(opacity=100);
  padding: 30px 20px;
  position: absolute;
  color: #ffffff;
  font-weight: normal;
}
.trend-post .post:hover .overlay {
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.trend-post .post:hover h3 {
  opacity: 1;
  filter: alpha(opacity=100);
  color: #ffffff;
}

/*  Bottom */
.bottom {
  background: #ffffff;
  width: 100%;
  float: left;
}
.widget {
  float: left;
  width: 100%;
  padding: 70px 0 0 0;
}
.widget ul {padding: 0;margin: 0;}
.useful-links {padding-left: 40px;}
.useful-links h3 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 70px;
}
.useful-links ul {
  display: inline-block;
  margin: 0px;
  width: 48%;
}
.useful-links ul li {
  list-style: none;
  padding: 5px 0px;
}
.useful-links ul li a {
  font-family: 'Open Sans', sans-serif;
  color: #777777;
  font-weight: normal;
  font-size: 14px;
  text-transform: none;
}
.useful-links ul li a:hover,
.useful-links ul li a:focus,
.useful-links ul li a:active {
  color: #222222;
  text-decoration: underline;
}
.bottom-contact {
  padding-left: 40px;
  min-height: 300px;
  border-left: 1px solid #E9E9E9;
}
.bottom-contact h3 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 70px;
}
.bottom-contact .contact-info {
  padding-top: 0px;
  padding-bottom: 70px;
}
.bottom-contact .contact-info a {
  color: #777;
  text-transform:none;
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding-top: 5px;
}
.bottom-contact .contact-info p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding-top: 5px;
  text-transform: none;
}
.bottom-contact .contact-info strong {
  color: #222222;
  margin-right: 5px;
  text-transform: uppercase;
}
.newsletter {
  border-left: 1px solid #E9E9E9;
  padding-left: 40px;
  min-height: 300px;
}
.newsletter h3 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 70px;
}
.newsletter .input-group {
  margin-top: 10px;
}
.newsletter .form-control {
  height: 40px;
}
.newsletter p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  padding-top: 25px;
  text-transform: none;
}
.newsletter button {
  background: #2a2f33;
  color: #ffffff;
  padding: 10px;
  border: 0px;
  margin: 0;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.newsletter button:hover,
.newsletter button:focus,
.newsletter button:active {
  background: #41494f;
  color: #ffffff;
  z-index: 0 !important;
}
.bottom-social {
  border-left: 1px solid #E9E9E9;
  padding-left: 40px;
  min-height: 300px;
}
.bottom-social h3 {
  font-size: 16px;
  margin: 0;
  padding-bottom: 40px;
  padding-top: 70px;
}
.widget h3 {padding: 0 0 50px 0;font-weight: normal;}
.bottom-social li {display: inline-block;}
.bottom-social .connect-with-us {
  display: inline-block;
  margin: 10px 5px 0 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
}
.bottom-social .connect-with-us i {float: none;}
.bottom-social p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding-top: 10px;
  padding-right: 40px;
  text-transform: none;
  float: left;
  width: 100%;
}
.footer {
  background: #ffffff;
  width: 100%;
  float: left;
}
.footer p {
  border-top: 1px solid #E9E9E9;
  margin: 0px;
  padding: 25px 0px;
  letter-spacing: 1px;
  color: #222222;
  font-size: 13px;
}

/* ==============================================
  Bootstrap Class Override
=============================================== */
.form-control {
  font-family: "Open Sans", sans-serif;
  height: 40px;
  font-weight: 400;
  border: 1px solid #e7e7e7;

  -webkit-box-shadow: none;
  box-shadow: none;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
textarea.form-control {height: 145px;}
select.form-control {
  font-family: "Open Sans", sans-serif;
  height: auto;
  font-weight: 400;
  border: 1px solid #e7e7e7;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: url("../images/form-select.png") no-repeat scroll 100% center transparent;
  -moz-appearance: none;
  padding: 4px 36px 4px 6px;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.form-control:hover,
.form-control:focus,
.form-control.active {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #e7e7e7;
  outline: none;
}
.form-control select option:hover,
.form-control select option:focus,
.form-control select option:active {
  outline: none;
  border: 0;
}

/* ==============================================
    Contact Page
=============================================== */
.contact {
  background: #ffffff;
  padding: 60px 30px;
  border: 1px solid #e8e8e8;
}
.contact-logo i {
  font-size: 50px;
  color: #333;
}
.contact-logo p {
  color: #222222;
  font-size: 18px;
  font-weight: normal;
  padding: 20px 0px 40px;
}
.contact-form {
  border-bottom: 1px dashed #E1E0E5;
  padding-bottom: 50px;
}
.contact-form .button {
  border: 0 none;
  color: #ffffff;
  padding: 9px 0;
  position: relative;
  top: 14px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  background: #f1c40f;
  text-transform: uppercase;
  margin: 0;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.contact-form label {
  font-weight: 400;
  color: #333;
  padding-top: 5px;
}
.map-title {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  font-size: 20px;
  color: #333;
}
.map {
  background: #ffffff;
  padding: 10px;
}
#map {height: 380px;}
.contact-address {
  padding-top: 75px;
  display: inline-block;
  width: 100%;
}
.contact-address i {
  font-size: 45px;
  font-weight: bold;
  color: #232323;
}
.contact-address p {
  font-weight: 400;
  font-size: 13px;
  padding: 20px 0px;
}
.contact-social li {margin: 5px;}

/* ==============================================
      About Page
=============================================== */
.about {
  background: #ffffff;
  border: 1px solid #e2e2e2;
}
.about h1 {
  color: #222222;
  font-size: 24px;
  padding: 30px 20px 15px;
  margin: 0px;
}
.about p {
  font-weight: 400;
  padding-bottom: 20px;
  font-size: 12px;
}
.about-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 40px;
  text-transform: none;
  line-height: 25px;
}
.about-button {padding-bottom: 50px;}
.about-button a {
  border: 0px;
  font-size: 16px;
  font-weight: 700;
  margin: 0 10px;
  padding: 10px 30px;
  color: #ffffff;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.about-button a.follow-btn {
  background: #2a2f33;
  color: #ffffff;
  display: inline-block;
  margin: 0 20px;
}
.about-button a.follow-btn:hover,
.about-button a.follow-btn:focus,
.about-button a.follow-btn.active {background: #131517;}
.about-button a.contact-btn {
  background: #2CA9E1;
  color: #ffffff;
  display: inline-block;
  margin: 0 20px;
}
.about-button a.contact-btn:hover,
.about-button a.contact-btn:focus,
.about-button a.contact-btn.active {background: #1b8cbf;}
.author-heading h2 {
  color: #222222;
  font-size: 18px;
  padding-bottom: 20px;
  padding-top: 40px;
}
.octagon-author {margin: 0 15px;}
.border-left-one-light {border-left: 1px solid #e2e2e2 !important;}
.author-info {
  background: #ffffff;
  padding: 20px 20px 50px;
  margin: 0px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: #e2e2e2;
}
.author-info .name {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 25px;
}
.author-info .title {
  font-size: 12px;
  font-weight: 400;
  margin: 0px;
  padding-bottom: 30px;
}
.author-info a {
  background: #f4655f;
  color: #ffffff;
  display: inline-block;
  padding: 8px 15px;
}
.author-info a:hover,
.author-info a:focus,
.author-info a:active {background: #2a2f33;}
.author-info a i {margin-right: 10px;}

/* ==============================================
    404 Error Page
=============================================== */
.error {
  background: url('../images/404.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 100px 0px;
  margin: 0px 150px;
  min-height: 610px;
}
.error-content {
  position: relative;
  top: -50px;
}
.error-content h2 {
  font-weight: 700;
  font-size: 150px;
  color: #ffffff;
  margin-top: 55px;
}
.error-content .oh-no {
  color: #222222;
  font-size: 50px;
  font-weight: 700;
  margin-top: 60px;
}
.error-content .text {
  color: #707070;
  font-size: 30px;
  text-transform: none;
  font-weight: 700;
  line-height: 35px;
  margin-top: 25px;
}
.error-content a {
  background: #80BD01;
  color: #ffffff;
  padding: 20px 30px;
  position: relative;
  top: 50px;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.error-content a:hover,
.error-content a:focus,
.error-content a.active {
  background: #6fa401;
  color: #ffffff;
}

/* ==============================================
    Single Standard  Post
=============================================== */
.single-post-nav {position: relative;}
.single-post-nav h2 {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  padding: 15px 30px;
  position: relative;
  margin: 0px;
}
.single-post-nav h2 i {margin-right: 15px;}
.single-post-nav h2 span {
  background: rgba(0, 0, 0, 0.2);
  font-size: 13px;
  padding: 3px;
  position: absolute;
  right: 30px;
  top: 14px;
}
.single-post-nav .nav-controls {
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.single-post-nav .carousel-control {
  font-size: 12px;
  width: 50%;
  padding: 20px;
  background: #ffffff;
  color: #222222;
  text-shadow: none;
  opacity: 1;
  filter: alpha(opacity=100);
}
.single-post-nav .carousel-control span {
  position: relative;
  top: -7px;
}
.single-post-nav .carousel-control:hover,
.single-post-nav .carousel-control:focus,
.single-post-nav .carousel-control.active {background: #BDBDBD;}
.post-menu {padding: 25px;background: #2A2F33;}
.post-menu ul {
  padding: 0;
  margin: 0;
}
.post-menu li {
  text-align: right;
  list-style: none;
  padding: 10px 0px;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.post-menu li a {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: normal;
}
.post-menu li a.active:after {
  content: '\f105';
  font-family: 'FontAwesome';
  font-size: 12px;
  padding-left: 10px;
}
.post-menu li a i {
  padding-left: 3px;
  opacity: 0;
  filter: alpha(opacity=0);
}
.post-menu li a:hover i,
.post-menu li a:focus i,
.post-menu li a.active i {
  padding-left: 3px;
  opacity: 1;
  filter: alpha(opacity=100);
}
.post-menu .mega-menu-li a {color: #ffffff;}
.post-menu #travel a:hover,
.post-menu #travel a:focus,
.post-menu #travel a.active {color: #8aba56;}
.post-menu #music a:hover,
.post-menu #music a:focus,
.post-menu #music a.active {color: #f4655f;}
.post-menu #design a:hover,
.post-menu #design a:focus,
.post-menu #design a.active {color: #f4655f;}
.post-menu #code a:hover,
.post-menu #code a:focus,
.post-menu #code a.active {color: #046dd5;}
.post-menu #health a:hover,
.post-menu #health a:focus,
.post-menu #health a.active {color: #e84c8b;}
.post-menu #mobile a:hover,
.post-menu #mobile a:focus,
.post-menu #mobile a.active {color: #f1c40f;}

/* Single Post Content */
.single-post {
  float: left;
  width: 100%;
}
.each-section {
  margin-bottom: 50px;
  float: left;
  width: 100%;
}
.each-section > h3,
.latest-post > h3 {
  font-size: 18px;
  color: #222;
  font-weight: normal;
}
.meta-info {padding: 0px 50px;}
.meta-info p {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding-bottom: 20px;
  padding-right: 10px;
}
.meta-info p i {
  margin-right: 5px;
  font-size: 14px;
}
.meta-info p a {color: #777;}
.meta-info .date {padding-left: 0px;}
.article {padding-bottom: 100px;}
.article-content {
  padding: 50px 50px 0px;
  font-family: "Open Sans", sans-serif;
}
.article-content p {
  font-size: 14px;
  text-transform: none;
  line-height: 25px;
}
.article-content ul li {
  font-family: open sans;
  font-size: 14px;
  font-weight: normal;
  list-style: outside none none;
  padding: 10px 50px;
  text-transform: none;
}
.article-content ul li i {
  margin-right: 10px;
  color: #222222;
}
.article-content ul li span {
  background: #fbe4e3;
  color: #ea726f;
  padding: 0 5px;
}
pre code {
  color: #ffffff;
  font-family: open sans;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
}
ol {color: #ffffff;}
.article-and-feature {
  padding: 0px;
  border: 1px solid #e2e2e2;
}
.article-and-feature h3 {
  font-size: 20px;
  padding: 30px 50px 15px;
  font-weight: normal;
}
.article-and-feature h3 span {
  top: 25px;
  font-size: 12px;
}
.article-and-feature .tags {
  display: inline-block;
  float: right;
  padding: 10px 20px;
  line-height: 34px;
}
.article-and-feature .tags ul {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}
.article-and-feature .tags ul li:first-child {font-family: 'Montserrat', sans-serif;}
.article-and-feature .tags ul li {
  display: inline-block;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}
.article-and-feature .tags ul li a {
  font-size: 12px;
  padding: 0px 10px;
  font-weight: normal;
}
.article-and-feature .tags ul li a:hover {text-decoration: underline;}

/* Visitors Ratings */
.circle {
  text-align: center;
  padding: 30px 0px;
}
.circle p {padding: 0px;}
.circle-title {
  color: #222222;
  text-align: center;
  font-size: 12px;
  padding-bottom: 25px;
}
.all-rating {padding-left: 30px;}
.all-rating .circle-title {
  font-weight: normal;
  padding-bottom: 40px;
}
.circles-text {
  font-size: 24px !important;
  color: #222222;
  height: 111px !important;
  left: 4px !important;
  line-height: 100px !important;
  position: absolute;
  text-align: center;
  top: 4px !important;
  width: 111px !important;

  -webkit-border-radius: 75px;
  -moz-border-radius: 75px;
  -ms-border-radius: 75px;
  -o-border-radius: 75px;
  border-radius: 75px;
}
.circle-one .circles-text {background: #FFE5E4;}
.circle-two .circles-text {background: #DBEDFF;}
.circle-three .circles-text {background: #fff8da;}
.circle-four .circles-text {background: #EDFFC9;}
.circle-five .circles-text {background: #E9DBFF;}
.circles-integer {
  font-size: 30px;
  font-weight: normal;
}
.circles-decimals {
  font-size: 16px;
  font-weight: normal;
}
.visitor-rating h3 {
  font-size: 18px;
  color: #222222;
  font-weight: normal;
}
.visitor-content {
  background: #ffffff;
  margin-top: 40px;
}
.visitor-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 25px;
  padding: 30px 15px 0px 0;
  text-transform: none;
  word-spacing: 1px;
}
.visitor-content a {
  background: #2a2f33;
  color: #ffffff;
  padding: 10px 20px;
  display: inline-block;
  font-size: 12px;
}
.visitor-content a i {
  margin-right: 10px;
}
.rating-content {
  border-bottom: 2px dashed #e1e0e5;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
}
.more-info > h3 {
  font-size: 18px;
  color: #222222;
  font-weight: normal;
}
.single-post-feature {padding-bottom: 100px;}
.single-post-feature-content {padding: 0 50px;}
.single-post-feature-content p {
  font-size: 14px;
  text-transform: none;
  line-height: 25px;
  font-family: "Open Sans", sans-serif;
}
blockquote {
  border-left: 5px solid #ffa431;
  font-size: 15px;
  font-style: italic;
  padding: 0 20px;
  margin: 40px !important;
}
blockquote p {
  margin: 0 !important;
}
.single-post-tab {margin-top: 40px;}
.oct-elements .single-post-tab {margin: 0;}
.single-post-tab .nav-tabs {border-bottom: 0;}
.single-post-tab .nav-tabs li {
  border-left: 0px solid #EAEAEA;
  background: #ffffff;
  margin: 0;
}
.single-post-tab .nav-tabs li a {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #e2e2e2;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  margin: 0 0 -1px;
  padding: 15px 40px;
  color: #222222;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.single-post-tab .nav-tabs li:last-child a,
.single-post-tab .nav-tabs li.active:last-child a,
.single-post-tab .nav-tabs li.active:last-child a:focus,
.single-post-tab .nav-tabs li.active:last-child a:hover {border-right: 0px;}
.single-post-tab .tab-content {
  background: #ffffff;
  padding: 30px;
}
.single-post-tab .tab-content h4 {
  color: #222222;
  font-size: 13px;
  font-weight: normal;
  width: 100%;
  float: left;
}
.single-post-tab .tab-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
  padding: 15px 0px;
  width: 100%;
  float: left;
}
.single-post-tab .nav-tabs li a:hover,
.single-post-tab .nav-tabs li a:focus,
.single-post-tab .nav-tabs li a:active {
  background: #ffffff;
  color: #000;
}
.single-post-tab .nav-tabs > li.active > a,
.single-post-tab .nav-tabs > li.active > a:hover,
.single-post-tab .nav-tabs > li.active > a:focus {
  background: #ffffff;
  color: #000;
  margin: 0px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #e2e2e2;
}
#more-info > h3 {
  color: #222222;
  padding: 30px 0;
}

/* Author Bio Details */
.single-post-author {
  padding: 40px 30px 30px;
  background: #ffffff;
}
.single-post-author h4 {
  margin: 0px;
  color: #222222;
  font-size: 15px;
  font-weight: normal;
}
.single-post-author .author-bio {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  padding-bottom: 30px;
  padding-top: 20px;
  text-transform: none;
}
.single-post-author a.view-my-articles {
  background: #f4655f;
  color: #ffffff;
  padding: 10px 15px;
  display: inline-block;
}
.single-post-author a.view-my-articles i {margin-right: 10px;}
.single-post-author a.view-my-articles:hover,
.single-post-author a.view-my-articles:focus,
.single-post-author a.view-my-articles:active {background: #2a2f33;}
h4.stay-connect {
  color: #222;
  font-size: 16px;
  margin: 0;
  padding-top: 50px;
  float: left;
  width: 100%;
}
.social-button {
  padding: 25px 15px 10px;
  background: #ffffff;
  float: left;
  width: 100%;
}
.social-button i {
  float: none;
  font-size: 20px;
}
.social-button p {
  margin: 0;
  padding-top: 5px;
}

/* Comments */
.comments {color: #222222;}
.comments h3 {
  font-size: 18px;
  color: #222222;
}
ul.comments-list {
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul.comments-list li {
  list-style: none;
  float: left;
  width: 100%;
}
.own-comment {
  background: #ffffff;
  padding: 30px;
  margin-top: 40px;
  float: left;
  width: 100%;
}
.own-comment h4 {
  margin: 0px;
  font-weight: 400;
  font-size: 15px;
  color: #222222;
  position: relative;
  line-height: 30px;
  padding-bottom: 5px;
}
.own-comment h4 span {
  position: absolute;
  font-size: 12px;
  right: 0;
}
.own-comment p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
  margin: 10px 0;
}
.own-comment .shadow {
  -webkit-box-shadow: 10px 10px 0px #EFECEC;
  box-shadow: 10px 10px 0px #EFECEC;
  margin-bottom: 20px;
}
.comment .children {
  float: left;
  width: 100%;
  padding: 0 0 0 40px !important;
}
.reply > a:hover i,
.reply > a:focus i {
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
  opacity: 1;
  filter: alpha(opacity=100);
}
.reply a {font-size: 12px;}

/* Comment Form */
.leave-a-comment h3 {
  color: #222222;
  font-size: 18px;
}
.leave-a-comment .comment-form {
  background: #ffffff;
  padding: 50px 30px;
  margin-top: 40px;
}
.comment-form {padding-bottom: 50px;}
.comment-form .button {
  border: 0 none;
  color: #ffffff;
  padding: 9px 0;
  position: relative;
  top: 14px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  background: #f1c40f;
  text-transform: uppercase;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.comment-form label {
  font-weight: 400;
  color: #333;
  padding-top: 5px;
}

/* Latest Post */
.latest-post {
  float: left;
  width: 100%;
}
.latest-post .heading {
  color: #222222;
  font-size: 18px;
}
.latest-post .post {margin-top: 40px;}
.sticky {
  position: fixed;
  width: 16.7%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

/* ==============================================
      Single Quote Post
=============================================== */
.single-quote {
  position: relative;
  background: url('../images/quote.jpg') no-repeat;
  width: 100%;
  height: 300px;
}
.quote-overlay {
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.quote-img {
  height: 300px;
  width: 100%;
}
.octagon-icon {
  left: 0;
  right: 0;
  position: absolute;
  top: 40px;
  text-align: center;
}
.octagon-icon img {
  height: 80px;
  width: 80px;
}
.single-quote .octagon-icon i,
.single-tweet .octagon-icon i {
  color: #ffffff;
  font-size: 28px;
  left: 0;
  right: 0;
  position: absolute;
  top: 27px;
}
.quote-title {
  top: 125px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.quote-title h3 {
  color: #ffffff;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
.quote-title p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding-top: 10px;
}

/* ==============================================
    Single video Post
=============================================== */
#single-post-slider .owl-prev {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  left: 0;
  padding: 30px 10px;
  position: absolute;
  top: 33%;
}
#single-post-slider .owl-next {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  right: 0;
  padding: 30px 10px;
  position: absolute;
  top: 33%;
}
#single-post-slider .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  padding: 0;
  width: 100%;
  text-shadow: none;
}
#single-post-slider .carousel-caption h3 {
  font-size: 15px;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

/* ==============================================
    Single tweet Post
=============================================== */
.single-tweet {
  position: relative;
  min-height: 300px;
  background: url('../images/tweet-single-post.jpg');
}
.tweet-overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.tweet-img {min-height: 330px;}
.octagon-icon {
  left: 47%;
  position: absolute;
  top: 40px;
}
.octagon-icon img {
  height: 80px;
  width: 80px;
}
.octagon-icon i {
  color: #ffffff;
  font-size: 21px;
  left: 27px;
  position: absolute;
  top: 27px;
}
.tweet-title {
  top: 125px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.tweet-title h3 {
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}
.tweet-title p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding-top: 10px;
}

/* ==============================================
    Single link Post
=============================================== */
.single-link {position: relative;}
.link-overlay {
  position: absolute;
  background: #f4655f;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.link-img {
  height: 300px;
  width: 100%;
}
.octagon-icon {
  left: 0;
  right: 0;
  position: absolute;
  top: 40px;
}
.octagon-icon img {
  height: 80px;
  width: 80px;
}
.octagon-icon i {
  color: #ffffff;
  font-size: 38px;
  left: 0;
  right: 0;
  text-align: center;
  position: absolute;
  top: 27px;
}
.link-title {
  top: 100px;
  position: absolute;
  text-align: center;
  width: 100%;
}
.link-title h3 {
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  padding: 20px;
  font-weight: normal;
}
.link-title a {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  text-transform: none;
}

/* ==============================================
    Elements
=============================================== */
.oct-elements {
  display: inline-block;
  width: 100%;
}
.oct-elements > h3 {
  font-size: 20px;
  color: #222222;
  padding-bottom: 40px;
  margin: 0;
}
.sep {
  float: left;
  width: 100%;
  margin: 60px 0;
  background: #ddd;
  height: 1px;
}

/* Button Style */
.btn {
  margin: 20px 30px 20px 0;
  border: 0px;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
.btn-xs {padding: 10px 25px;}
.btn-sm {padding: 13px 28px;}
.btn-md {padding: 16px 30px;}
.btn-lg {padding: 20px 33px;}
.btn i {padding: 0 10px 0 0;}

/* Colors */
.btn-green,
.btn-green:hover,
.btn-green:focus,
.btn-green:active {background-color: #8aba56;color: #fff;}
.btn-red,
.btn-red:hover,
.btn-red:focus,
.btn-red:active {background-color: #f4655f;color: #fff;}
.btn-blue,
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active {background-color: #19b6e9;color: #fff;}
.btn-lavender,
.btn-lavender:hover,
.btn-lavender:focus,
.btn-lavender:active {background-color: #5b4282;color: #fff;}

/* Load More Button */
.load-more {
  margin-top: 0;
  padding: 0 15px;
}
.load-more a {color: #ffffff;}
.load-more i {margin-right: 10px;}
.heading-style {
  padding: 70px 0px 70px 0px;
  border-bottom: 1px solid #DDDDDD;
}
.heading-style .heading-title {
  font-size: 20px;
  color: #222222;
  padding-bottom: 60px;
}
.heading-one {
  color: #222222;
  font-size: 28px;
  font-weight: normal;
  margin: 0px;
  padding: 25px 0 25px 15px;
}
.heading-two {
  color: #222222;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
  padding: 25px 0 25px 15px;
}
.heading-three {
  color: #222222;
  font-size: 22px;
  font-weight: normal;
  margin: 0px;
  padding: 25px 0 25px 15px;
}
.heading-four {
  color: #222222;
  font-size: 18px;
  font-weight: normal;
  margin: 0px;
  padding: 25px 0 25px 15px;
}
.heading-five {
  color: #222222;
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  padding: 25px 0 25px 15px;
}
.heading-six {
  color: #222222;
  font-size: 14px;
  font-weight: normal;
  margin: 0px;
  padding: 25px 0 25px 15px;
}

/* Highlight */
.high-light p {
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}
.high-light strong {
  text-transform: uppercase;
  font-weight: 700;
  color: #e1493e;
}
.high-light span {
  color: #222222;
  font-weight: 700;
}
.high-light .text-bg {
  background: #e1493e;
  color: #ffffff;
  font-weight: normal;
}
.high-light .text-italic {
  color: #e1493e;
  font-style: italic;
}
.tooltip-style + .tooltip > .tooltip-inner {
  padding: 10px 30px;
  font-size: 14px;
  background-color: #e1493e;
  font-family: "Open Sans", sans-serif;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.tooltip-style + .tooltip > .tooltip-arrow {border-top-color: #e1493e;}
::selection {
  background: #e1493e;
  color: #ffffff;
  text-shadow: none;
}
::-moz-selection {
  background: #e1493e;
  color: #ffffff;
  text-shadow: none;
}

/* Dropcaps */
.drop-caps p {
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}
.drop-cap-one p:first-letter {
  font-size: 40px;
  float: left;
  padding: 15px;
  background: #046dd5;
  margin: 5px 10px 0 0;
  color: #ffffff;
}
.drop-cap-two p:first-letter {
  font-size: 40px;
  float: left;
  padding: 15px;
  border: 2px solid #046dd5;
  margin: 5px 10px 0 0;
  color: #222222;
}

/* Bullet List */
.list-fix {padding: 0;margin: 0;}
.list-fix li {list-style: none;}
.bullets-list li {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  color: #222222;
  padding: 15px 0px;
  /*display: inline-block;*/
}
.bullets-list li i {
  margin-right: 10px;
  color: #222222;
}

/* Table */
.table-style .table-bordered {
  border: 0px;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}
.table-style thead {color: #333333; font-size: 13px;}
.table-style tbody {color: #888888; font-size: 13px;}
/*.table-bordered tbody tr:nth-child(odd) { background: #fcfcfc;}*/
.table-bordered thead tr th:first-child,.table-bordered tbody tr th { text-align: center; }
.table-bordered thead tr th,.table-bordered tbody tr td { padding: 10px 20px; }
.table-bordered tbody tr td { text-transform: none; }
/* Pricing Table */
.table > thead > tr > th {border-bottom-width: 0px;}
.price-plan {background: #ffffff;}
.price-plan ul {padding: 0;margin: 0;}
.price-plan ul li {list-style: none;}
.price-plan p {
	color: #ffffff;
	background: #2a2f33;
	font-size: 18px;
	padding: 20px;
}
.price-plan .price i {
	font-size: 20px;
	color: #222222;
}
.price-plan .usd {
  font-size: 35px;
  color: #222222;
}
.price-plan .duration {
  border-bottom: 4px double #DDD;
  color: #222;
  font-size: 12px;
  font-weight: 400;
  margin: 0 50px;
  padding-bottom: 20px;
}
.price-plan ul {
  padding: 40px 0px !important;
}
.price-plan ul li {
  padding: 12px 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.price-plan a {
  color: #222222;
  padding: 15px 0px;
  border-top: 1px solid #ddd;
  display: inline-block;
  width: 100%;
}
.price-plan a i,
.mobile-color i,
.design-color i,
.travel-color i,
.tweets-color i,
.code-color i,
.health-color i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.price-plan:hover,
.price-plan:focus {
  -webkit-box-shadow: 0 0 5px #888;
  -moz-box-shadow: 0 0 5px #888;
  -o-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888;
  z-index: 9999;
  position: relative;
}
.price-plan:hover p,
.price-plan:focus p {background: #046dd5;}
.price-plan:hover a i,
.price-plan:focus a i,
.design-color:hover i,
.design-color:focus i {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  -o-transform: translateX(5px);
  transform: translateX(5px);
}

.accordion .panel-heading .icon-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'fontawesome';
  /* essential for enabling fontawesome */
  content: "\f068";
  /* adjust as needed, taken from fontawesome.css */
  float: right;
  /* adjust as needed */
  color: #222222;
  /* adjust as needed */
}
.accordion .panel-heading .icon-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\f067";
  /* adjust as needed, taken from fontawesome.css */
}
.accordion .panel-heading {background: #ffffff;}
.accordion .panel-group .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.accordion .panel-default {border: 0 none;}
.accordion .panel-title {
  color: #222222;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}
.panel-title a {
  display: block;
  line-height: 20px;
  padding: 20px 30px;
}
.panel-group .panel + .panel {margin-top:1px;}
.accordion .panel-title a:hover,
.accordion .panel-title a:focus,
.accordion .panel-title a.active {color: #222222;}
.accordion .panel-body {padding: 0px 30px;}
.accordion .panel-body p {
  padding: 20px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: none;
}
.accordion .panel-body img {padding: 20px 0px;}
.ratings .all-rating {
  background: #ffffff;
  padding-left: 0px;
}
.skillbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border-top: 2px solid;
}
.skillbar.illustrator {border-color: #046dd5;}
.skillbar.indesign {border-color: #e1493e;}
.skillbar.dreamweaver {border-color: #f1c40f;}
.skillbar.wordpress {border-color: #8aba56;}
.skill-progress {
  background: #ffffff;
  padding: 30px;
  float: left;
  width: 100%;
}
.alert-bar {
  background: #ffffff;
  padding: 20px 0px;
  position: relative;
  margin: 0 0 25px 0;
}
.icon-left {
  padding: 21px;
  color: #ffffff;
}
.icon-text {
  font-weight: normal;
  padding-left: 30px;
  color: #222222;
  font-size: 13px;
}
.icon-right {
  position: absolute;
  right: 20px;
}
a.icon-right {
  color: #aaaaaa;
  text-decoration: none;
}
.contact-forms .contact-form {
  background: #ffffff;
  border: 0 none;
  padding: 20px;
}
.social-share .mail-follow-us {
  background: #fff;
  display: inline-block;
  padding: 5px 20px;
  width: 100%;
}
.mail-follow-us ul {
  padding: 0;
  margin: 0;
}
.social-share .mail-follow-us li {
  padding: 6px;
  width: 25%;
}

/*  Responsive menu */
#life-style .mean-expand {background: #e1493e !important;}
#travel .mean-expand {background: #8aba56 !important;}
#coding .mean-expand {background: #046dd5 !important;}
#music .mean-expand {background: #ff8932 !important;}
#sports .mean-expand {background: #19b6e9 !important;}
#design .mean-expand {background: #5b4282 !important;}
#mobile .mean-expand {background: #f1c40f !important;}
.health .mean-expand {background: #e84c8b !important;}

/* Google Map */
.mm-google-map {
  position: relative;
  background: #fff;
  padding: 10px;
}
.mm-google-map .mm-zoom-in, .mm-google-map .mm-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 15px;
  background-color: #046DD5;
  background-repeat: no-repeat;
  background-image: url('../images/icons/map/ot-icon-controller.svg');
  -webkit-background-size: 32px 64px;
  -moz-background-size: 32px 64px;
  background-size: 32px 64px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (min-width:768px) {
  .mm-google-map .mm-zoom-in, .mm-google-map .mm-zoom-out {margin-left: 20px;}
}
.mm-google-map .mm-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px;
}
@media only screen and (min-width:768px) {
  .mm-google-map .mm-zoom-in {margin-top: 20px;}
  .header-absolute .mm-google-map .mm-zoom-in {margin-top: 200px;}
}

.mm-google-map .mm-zoom-out {
  background-position: 50% -32px;
}

/* Skill Bar */
.skillbar {
  position:relative;
  display:block;
  margin: 50px 0px 70px 10px;
  padding: 0;
  width:100%;
  height:15px;
  background:transparent;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}
.skillbar-title {
  position: absolute;
  top: -22px;
  left: -10px;
  font-weight:bold;
  font-size:13px;
  color:#fff;
  background: #6e64b2;
  z-index: 1;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.skillbar-title span {
  display:block;
  background:transparent;
  padding:0;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 6px;
  background: #6e64b2;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
}
.skillbar-bar {
  position: relative;
  left: 0;
  height:15px;
  width:0px;
  padding: 0;
}
.skillbar-right-line {
  content: '';
  position: absolute;
  top: -5px;
  height: 25px;
  width: 1px;
  background: #fff;
}
.skillbar-text {
  position: absolute;
  top: -25px;
  font-size: 14px;
  color: #000;
  font-weight: normal;
}
.margin-zero {margin: 0;}
.owl-theme .owl-controls .owl-buttons div {-webkit-border-radius: 0;-moz-border-radius: 0;-ms-border-radius: 0;-o-border-radius: 0;border-radius: 0;margin: 0;}
#single-post-slider .owl-next,
#single-post-slider .owl-prev {height: 70px;width: 40px;}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.elements.load-more {line-height: 50px;padding: 0;}
.post-author-left img {margin: 0 auto;}