.status {
  display: none;
  color: red;
  padding: 15px 15px 0px;
  margin-bottom: -18px;
  text-align: center;
}
.status-form {
  display: none;
  color: red;
  text-align: left;
  padding-left: 30%;
  margin: -13px 0 -7px;
}

.responsive-button {
  width: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.responsive-button.one {
  margin-right: 0;
}

.input-date {
  width: 10% !important;
  padding-right: 15px  !important;
}

a.group-button {
  margin: 0;
}

div.group-button-container {

}

.red {
  background-color: #FF2121 !important;
}
.red:hover {
  background-color: #D41717 !important;
}
.green {
  background-color: #6DD637 !important;
}
.green:hover {
  background-color: #54A72A !important;
}

div.my-no-data {
  text-align: center;
}

span.big-text {
  font-size: 1.5em;  
}
span.unactive-text {
  color: lightgrey;
}

body.my-error {
  background-color: #edeff0;
}

div.my-error {
  text-align: center;
  font-family: arial, verdana, sans-serif;
  position: absolute;
  top: 30%;
  left: 30%;
  right: 30%;
  max-width: 40%;
}

  div.my-error i {
    font-size: 5em;
  }


.logout-user i {
  border-left: 1px solid #e1e0e5;
  color: #222222;
  font-size: 36px;
  padding: 15px 18px;
  cursor: pointer;
  display: inline-block;
}
.logout-user i:hover,
.logout-user i:focus,
.logout-user i.active {background: #ffffff;}

.video-container iframe {
  width: 100% !important;
  height: 100% !important;
}