.table-container {
  padding: 30px 10px;
}

.table-container h1,
.table-container h2,
.table-container h3 {
  text-align: center;
  margin-bottom: 30px;
}

table .numerics {
  width: 100px;
}

/*table.table-hover tbody {
  cursor: pointer !important;
}*/

table > tbody > tr .button-area {
	padding: 0px !important;
	width: 150px;
	text-align: center !important;
	background-color: rgba(231, 191, 102, 0.1);
}

.button-area .button {
    line-height: 1.42857143 !important;
    padding: 8px 0px;
    font-size: 18px;
    color: #676767;
    background-color: #F9F8FF;
}

.button-area .button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.button_add {
    display: block;
    padding: 10px 0px;
    font-size: 18px;
    color: white;
    background: #7EBAF7;
}

.button_add.lighter {
    background: #91C5FB;
}

.button_add:hover {
	color: white;
	background: #046DD5;
}

.inputs-left {
    text-align: left;
    margin-bottom: 30px;
}

.inputs-left label {
    text-align: right;
    padding-right: 10px;
    width: 30%;
}

.inputs-left input[type=text],
.inputs-left input[type=date],
.inputs-left select {
	display: inline;
    width: 30%;
}

.inputs-left .checkbox {
	left: 30%;
}
.inputs-left .checkbox label {
	text-align: left;
}

.input_container {
	margin-bottom: 10px;
}